head{
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.nav-link{
    font-weight: 600;
}
.hr-style{
    width: 100px;
    height: 5px;
    margin-bottom: 40px;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #e65c00, #ffb380);
}

/* -------------- header section -------------- */

.bg-color{
    background-color: #562EFF;
}
.navbar-bgcolor{
    background-color: #562EFF !important;
}
.nav-link{
    color: white !important ;
    margin-right: 20px;
}
.navbar img{
    width: 60px;
    height: 60px;
}

/* ------------ top member ----------------- */

.title{
    text-align: center;
    font-weight: 600;
    color: #562EFF;
    margin-top: 40px;
}
.bg-color-2{
    background-color: #ffffff;
    padding-bottom: 30px;
}
.participant-style img{
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*-------------- blog section -----------------------*/

.blog-style img{
    width: 190px;
    height: 120px;
    margin-bottom: 50px;
}
.title-2 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    color: #562EFF;
}

/*---------- course section ---------------*/

.courses .card-body img{
    height: 20px;
    width: 20px;
}
.checked {
    color: orange;
}
.card-title{
    font-weight: 600;
}
.card-text{
    color: red;
}
.card {
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px lightgray;
    padding: 30px 20px 10px 20px;
    border: none;
}
.watch{
    background-color: #FFE4E8;
    padding: 2px;
    border-radius: 20px;
}
.row h3{
    font-weight: 600;
}